body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.div1{
    width: 400px;
    height: 250px;
    background-color: rgb(183, 183, 234);
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 10px;
}
h1{
        color: rgb(11, 4, 119);

}
input,button{
    padding: 10px;
    font-size: 16px;
    background-color: rgb(15, 173, 173);
    color: aliceblue;
}

#result{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(64, 8, 116);
}