body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1{
        color: rgb(151, 58, 238);

}
input,button{
    padding: 10px;
    font-size: 16px;
    background-color: rgb(15, 173, 173);
    color: aliceblue;
}

#result{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(64, 8, 116);
}